.contant {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0 0 0 0;
    flex-direction: column;
}

.center {
    background: radial-gradient(#a020c0 , #43008f);
    min-width: 50vw;
    /* min-height: 50vh; */
    border-radius: 5vh;
}

.typeform {
    width : 100%;
    display: flex;
    flex-direction: row;
}

.typeButton {
    width : calc(50% - 2px);
    border-radius: 10px;
    min-height: 5vh;
    font-size: large;
}

.bloc {
    min-height: 100%;
    position: relative;
    bottom: 0;
}


.formcss {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.button {
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.button button{
    border-radius: 10px;
    min-height: 5vh;
    font-size: large;
}

.hidden {
    display: none;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.info div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.info div input {
    height: 1rem;
    width: max(80%, 5rem);
}

.info div label {
    font-size: 1.2rem;
}

.err {
    color: red;
}
.titre{
  display: flex;
  align-items: center;
  justify-content: center;
}
.titre h1{
  font-size: 10vh;
  color: azure;
  text-shadow: 0 0 15px rgba(255,255,255,.5), 0 0 10px rgba(255,255,255,.5);
}
.titre img{
  width: 75px;
  height: 102px;
  margin-top: -20px;
}




  